<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997228587501-14fgh7380recpq1hdu2timne4u0fdifo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997228587501-14fgh7380recpq1hdu2timne4u0fdifo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997228587501-11i1efim7uov55qhnqiab4v4jvjo2ql3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ4JOIGpx96gC_A1w0PeoklOpL4Av2bew</string>
	<key>GCM_SENDER_ID</key>
	<string>997228587501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.etornam.taskyMobileApp</string>
	<key>PROJECT_ID</key>
	<string>tasky-manager-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tasky-manager-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997228587501:ios:9a5ede98d5a72101f6dfe4</string>
</dict>
</plist>